body {
    margin: 0;
    background: linear-gradient(135deg, #ffddb8, #ffbf78);
    font-family: "Borel", sans-serif;
    color: #0F0F0F;
    height: 130rem;
}

#wrapper {
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

h1 {
    margin: 3rem 0 0 0;
    height: 2rem;
    font-size: 2.5rem;
    text-shadow: -2px 2px 0px #ffffff;
    text-decoration: underline double;
}

article {
    position: relative;
    width: 63rem;
    margin: 0 auto;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

article p {
    background: linear-gradient(170deg, #fefefe, #2e616c);
    padding: 2rem;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    height: 8rem;
    border-radius: 1rem;
    width: 59rem;
}

article img {
    position: absolute;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

#border-holder {
    position: relative;
}

#topL {
    border-top: 5px solid black;
    border-left: 9px solid transparent;
    width: 47rem;
    height: 9rem;
    margin-left: 123px;
    position: absolute;
}

#botL {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-top: 52px solid transparent;
    border-right: 17px solid transparent;
    width: 20rem;
    height: 93px;
    position: absolute;
    margin-top: 42px;
    border-radius: 1rem;
}

#topR {
    border-top: 5px solid black;
    border-left: 16px solid transparent;
    width: 20rem;
    height: 94px;
    position: absolute;
    right: 0;
    top: 0;
    border-right: 5px solid black;
    border-radius: 1rem;
    border-bottom: 51px solid transparent;
}

#botR {
    border-bottom: 5px solid black;
    border-right: 9px solid transparent;
    width: 47rem;
    margin-right: 124px;
    height: 187px;
    position: absolute;
    right: 0;
    top: 0;
}

#cat-icn {
    bottom: 7rem;
    height: 13rem;
    width: 8rem;
    left: 30%;
    opacity: 1;
    filter: saturate(1.9);
}

#latte-icn {
    top: 10rem;
    height: 7rem;
    width: 7rem;
    right: 30%;
    border-radius: 0;
    opacity: 1;
}

#matcha-cls-holder {
    left: -10rem;
    top: 2rem;
    border: 5px solid black;
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
}

#matcha-cls {
    bottom: -22px;
    height: 29rem;
    border-radius: 0;
}

#cat-cls-holder {
    right: -10rem;
    bottom: 2rem;
    border: 5px solid black;
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
    background: radial-gradient(#2a6e79, #40575d);
}

#cat-cls {
    height: 18rem;
    width: 20rem;
    top: 2.5rem;
    border-radius: 0;
}

main {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main section {
    height: 55rem;
    width: 75rem;
    background: linear-gradient(270deg, #2e616c, #9cd0db, #2e616c);
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px #000000c7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#game-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    justify-content: center;
}

#game-description-container h2 {
    margin: 0;
    font-size: 2rem;
    height: 3rem;
}

#game-description-container p {
    margin: 0;
    font-size: 1.4rem;
    height: 2rem;
}

#timer-count {
    font-size: 2rem;
}

#game-container {
    width: 100%;
    display: flex;
    align-items: center;
}

#game-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 33rem;
    width: 50rem;
    margin: 0 auto;
    padding: 6px;
    list-style: none;
    background: radial-gradient(#dfdfdf, #a0a0a0);
    border-radius: 1rem;
    border: 2px solid black;
    align-items: center;
    justify-items: center;
}


#game-holder li {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #2e616c;
    border-radius: 1rem;
    border: 1px solid black;
}

#restart-btn {
    width: 10rem;
    background: radial-gradient(#ffffff, #9b9b9b);
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-family: "Borel";
    padding-top: 8px;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 2rem;
}

#restart-btn:hover {
    filter: invert(1);
    transition: 0.1s;
}

.game-picture {
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
    border: 1px solid black;
    opacity: 0;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

@media (max-width: 1440px) {
    article {
        max-width: 864px;
    }

    article p {
        height: 8rem;
        width: 50rem;
    }

    #topL {
        width: 30rem;
        margin-left: 138px;
    }

    #botL {
        bottom: 0;
        height: 7.2rem;
    }

    #topR {
        height: 116px;
    }

    #botR {
        top: unset;
        bottom: 0;
        width: 40rem;
        margin-right: 138px;
    }

    #matcha-cls-holder {
        width: 17rem;
        height: 17rem;
        top: 4rem;
        left: -6rem;
    }

    #cat-cls-holder {
        width: 17rem;
        height: 17rem;
        bottom: 4rem;
        right: -6rem;
    }

    #matcha-cls {
        bottom: 4px;
        height: 23rem;
        right: -2rem;
    }

    #cat-cls {
        right: 0px;
        width: 17rem;
        height: 17rem;
        top: 23px;
    }

    main {
        margin: 10rem auto;
        max-width: 60rem;
    }

    main section {
        height: 50rem;
        width: 90%;
    }

    #game-holder {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 25rem;
        padding: 6px 6px 6px 6px;
    }

    .game-picture {
        height: 5rem;
        width: 5rem;
    }

    #game-description-container h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 1090px) {
    article {
        scale: 0.95;
    }
}

@media (max-width: 1024px) {
    article {
        width: unset;
    }
    
    article p {
        padding: 3rem;
        width: 33rem;
        height: 11rem;
    }

    #topL {
        display: none;
    }

    #botL {
        width: 19rem;
        height: 5rem;
        margin: 0;
        bottom: 0;
    }

    #topR {
        width: 19rem;
    }

    #botR {
        display: none;
    }

    #matcha-cls-holder {
        left: 3%;
        width: 15rem;
        height: 15rem;
        z-index: 0;
        top: 3rem;
    }

    #matcha-cls {
        bottom: -34px;
        height: 20rem;
        right: 0rem;
    }

    #cat-cls-holder {
        right: 3%;
        width: 15rem;
        height: 15rem;
        z-index: 0;
        bottom: 3rem;
    }

    #cat-cls {
        width: 15rem;
        height: 15rem;
        top: 0;
        right: 0;
    }

    article img {
        width: 15rem;
        height: 15rem;
        z-index: 0;
    }

    #cat-cls {
        right: 0;
        bottom: 0;
        width: 15rem;
        height: 15rem;
    }

    #cat-icn {
        bottom: 5.5rem;
        left: 20%;
    }

    #latte-icn {
        top: 9rem;
        right: 20%;
    }

    main section {
        height: 50rem;
        width: 90%;
    }

    #game-holder {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 25rem;
        padding: 6px 6px 6px 6px;
    }

    .game-picture {
        height: 5rem;
        width: 5rem;
    }

    #game-description-container h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 700px) {
    body {
        height: 120rem;
    }

    article {
        width: unset;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    #cat-icn {
        top: 0rem;
        left: 60%;
    }

    #latte-icn {
        top: 41rem;
        right: 60%;
    }

    #matcha-cls {
        bottom: -5px;
        height: 12rem;
    }

    #cat-cls {
        right: -50px;
        bottom: 1rem;
        width: 10rem;
        height: 10rem;
    }

    #matcha-cls-holder {
        height: 10rem;
        width: 10rem;
        left: -50px;
        top: 1rem;
    }

    #cat-cls-holder {
        height: 10rem;
        width: 10rem;
        right: -50px;
        bottom: 1rem;
    }

    #cat-cls {
        right: unset;
        bottom: unset;
        width: 10rem;
        height: 10rem;
    }

    article img {
        height: 10rem;
        width: 10rem;
    }

    #border-holder {
        height: 25rem;
        width: 90%;
        margin: 0 auto;
        background: linear-gradient(170deg, #fefefe, #2e616c);
        border-radius: 1rem;
        display: flex;
        align-items: center;
    }

    #topL {
        display: none;
    }

    #botR {
        display: none;
    }

    #topR {
        width: 8rem;
        height: 12rem;
    }

    #botL {
        width: 8rem;
        height: 12rem;
        margin-top: 9.38rem;
    }

    article p {
        padding: 1rem;
        background: none;
        font-size: 1rem;
        height: fit-content;
    }

    main section {
        height: 47rem;
        width: 80%;
        justify-content: space-evenly;
    }

    #game-holder {
        width: 70%;
        grid-template-columns: 1fr 1fr 1fr;
        height: 28rem;
        max-width: 302px;
        padding: 6px 6px 6px 6px;
    }

    .game-picture {
        height: 3rem;
        width: 3rem;
    }

    #game-description-container h2 {
        font-size: 1.3rem;
        text-align: center;
        height: 7rem;
    }

    #timer-count {
        font-size: 1.5rem;
        height: 2rem;
        margin-top: 1rem;
        display: block;
        text-align: center;
    }

    #game-description-container p {
        display: none;
    }

    #restart-btn {
        margin: 1rem 0rem 1rem 0rem;
    }
}