
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: url(pics/grid-bg.png), linear-gradient(135deg, #bbbbbb, #989898);
    font-family: "Poppins", sans-serif;
    max-width: 984px;
    margin: auto;
}

#circle-menu {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    background: transparent;
}

#to-top-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 56px;
    right: 24px;
    width: 3rem;
    height: 3rem;
    background: #F5C372;
    border-radius: 2rem;
    border: 1px solid black;
    box-shadow: 0px 0px 8px 0px #00000085;
    z-index: 4;
    transition: all 0.2s ease-in;
    opacity: 0;
}

#to-top-btn div {
    width: 30px;
    height: 6px;
    position: relative;
    background-color: #000000;
    border-radius: 1rem;
    left: 8.8px;
    bottom: 3px;
    transform: rotate(45deg);
}

#to-top-btn div::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 6px;
    left: -12px;
    top: 12px;
    background-color: #000000;
    border-radius: 1rem;
    transform: rotate(90deg);
}

#to-top-btn:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    bottom: 65px;
}

header aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

aside h2 {
    margin-left: 1rem;
    width: 8rem;
    line-height: 1.7rem;
}

aside h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0px 65px 92px 0;
    width: 100%;
    height: 0;
    text-align: right;
    display: block;
    z-index: 3;
}

aside h1 span {
    color: white;
    font-weight: 700;
    margin-left: 4rem;
    cursor: url("pics/black-cursor.png"), pointer;
}


.nav-menu-link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

#nav-menu-link-1::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1.5rem;
    left: 16px;
    border-bottom: 3px solid #f7f7f7;
    transition: 0.2s;
}

#nav-menu-link-2::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1.5rem;
    left: 16px;
    border-bottom: 3px solid #f7f7f7;
    transition: 0.2s;
}

#nav-menu-link-3::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1.5rem;
    left: 16px;
    border-bottom: 3px solid #f7f7f7;
    transition: 0.2s;
}

#nav-menu-link-1:hover:after {
    width: 68px;
    transition: 0.2s;
}

#nav-menu-link-2:hover:after {
    width: 79px;
    transition: 0.2s;
}

#nav-menu-link-3:hover:after {
    width: 64px;
    transition: 0.2s;
}

#poly1-s {
    position: absolute;
    width: 292px;
    height: 281px;
    top: 38px;
    right: 47px;
    transform: scaleY(1.25);
}

#poly1-p:hover {
    cursor: url("pics/black-cursor.png"), pointer;
}

#poly1 {
    position: absolute;
    top: -28px;
    right: -47px;
    z-index: 2;
}

#poly1 img {
    width: 23rem;
    height: 25rem;
}

#link-frames {
    position: relative;
    width: 10rem;
    height: 9rem;
}

#links-frame-1 {
    position: absolute;
    width: 5rem;
    height: 3px;
    background: #f7f7f7;
}

#links-frame-2 {
    position: absolute;
    width: 1rem;
    height: 3px;
    background: #f7f7f7;
    bottom: -2px;
}

#links-frame-3-cont {
    position: absolute;
    overflow: hidden;
    width: 7rem;
    height: 8rem;
    margin-left: 90px;
    top: 0px;
}

#links-frame-3 {
    position: absolute;
    width: 9rem;
    left: -5rem;
    height: 109px;
    border-radius: 4rem;
    border: 3.5px solid #f7f7f7;
}

#links-frame-4 {
    position: absolute;
    width: 5rem;
    height: 3px;
    background: #f7f7f7;
    bottom: -2px;
    left: 1.5rem;
}

header nav {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 11rem;
    margin-left: 1rem;
    position: relative;
}

header nav ul {
    padding: 0;
    margin: 0 0 0 16px;
    height: 7rem;
    list-style-type: '- ';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav p {
    margin-top: 2rem;
    font-size: 1.4rem;
    width: 6.5rem;
}

#landing {
    margin: -29rem 0 0 17.6rem;
    height: 45rem;
    position: relative;
}

#landing-intro-text-container {
    width: 24rem;
    position: relative;
    top: -1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-intro-text-container p {
    color: white;
    font-size: 19px;
}

#landing-intro-text-container p span {
    color: #f5c372;
    font-weight: 600;
    text-shadow: 0px 0px 2px black;
}

#landing-snake-1-cont {
    position: absolute;
    top: 0;
}

#landing-snake-1 {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 60%;
    border: 3px solid #f7f7f7;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    left: 5.5rem;
    top: 37px;
}

#landing-snake-1::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    background: #f7f7f7;
    left: 44.5px;
    transform: rotate(45deg);
    top: 56px;
}

#landing-snake-1::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background: #f7f7f7;
    left: 1px;
    transform: rotate(45deg);
    top: 9px;
}

#landing-snake-2 {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 60%;
    border: 3px solid #f7f7f7;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(225deg);
    left: 2.5rem;
    top: 105px;
}

#landing-snake-2::before {
    content: "";
    position: absolute;
    width: 3px;
    bottom: -30px;
    right: 93px;
    height: 97px;
    background: #f7f7f7;
    transform: rotate(225deg);
}


#landing-snake-2::after {
    content: "";
    bottom: -10px;
    right: 16px;
    background: #f7f7f7;
    transform: rotate(225deg);
    position: absolute;
    width: 3px;
    height: 18px;
}

#landing-left-t {
    width: 100%;
}

#landing-mid-t {
    width: 300px;
    text-align: center;
}

#landing-right-t {
    text-align: end;
    width: 100%;
}

#fence {
    margin-top: -2rem;
}

#fence img {
    width: 679px;
    height: 350px;
}

#adapt-text-cont {
    margin: -62px 0px 0px 0px;
}

#adapt-text-cont p {
    font-size: 1.5rem;
}

#adapt-text-cont span {
    background: linear-gradient(135deg, #ffffff, #f5c372);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
    font-weight: 700;
    filter: drop-shadow(-1px 3px rgb(0, 0, 0));
}

#adapt-text-cont img {
    width: 26rem;
    position: absolute;
    bottom: 85px;
    right: 3px;
}

#poly-2-s {
    position: absolute;
    width: 307px;
    height: 333px;
    top: -41px;
    right: 35px;
    z-index: 2;
}

#poly-2-p:hover {
    cursor: url("pics/black-cursor.png"), pointer;
}

#poly-2-cont {
    position: absolute;
    left: -349px;
    bottom: -129px;
    z-index: 2;
}

#poly-2-cont img {
    width: 24rem;
    position: relative;
    top: -23px;
    right: 6px;
    ;
}

main {
    position: relative;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#slide-cont {
    background: linear-gradient(0deg, #F5C372, #F4D6A7);
    width: 610px;
    height: 386px;
    position: relative;
    left: 10.8%;
    bottom: 35px;
    border-radius: 1rem;
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#slide-cont::-webkit-scrollbar {
    display: none;
}

#slide-img-4 {
    height: 430px;
}

#slide-cont-after {
    content: "";
    display: block;
    width: 39rem;
    height: 25rem;
    background-color: #00000000;
    position: absolute;
    left: 95.5px;
    top: 162px;
    border: 3px solid #f7f7f7;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px 0px #ffffffbf;
}

.slide-img {
    width: 610px;
    height: 386px;
    object-fit: cover;
}

#arrows {
    width: 610px;
    height: 4rem;
    position: absolute;
    left: 10.8%;
    bottom: 7rem;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

#arr-left:hover {
    filter: invert();
    transition: 0.2s;
    cursor: pointer;
}

#arr-right:hover {
    filter: invert();
    transition: 0.2s;
    cursor: pointer;
}

main aside {
    position: relative;
    display: flex;
    justify-content: center;
    width: 163px;
    height: 23rem;
    bottom: 2rem;
}

#my-projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 367px;
    width: 5rem;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    color: white;
}

#my-projects-list a {
    text-decoration: none;
    color: #f7f7f7;
}

#my-projects-list li {
    z-index: 3;
    transition: 0.2s;
}

#my-projects-list li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#todo a {
    color: #000000;
    cursor: url("pics/black-cursor.png"), pointer;
}

#poly-3-s {
    position: absolute;
    width: 198px;
    height: 195px;
    top: -3px;
    right: 44px;
}

#poly-3-p:hover {
    cursor: url("pics/black-cursor.png"), pointer;
}

#poly-3-cont {
    position: absolute;
    right: -90px;
    top: 290px;
    z-index: 2;
}

#poly-3-cont img {
    width: 17rem;
}

#about-me {
    max-width: 811px;
    height: 45rem;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#about-me h2 {
    margin: 45px 0 0px -70px;
}

#about-me h2 span {
    color: #F5C372;
    text-shadow: 0px 0px 2px black;
    font-size: 28px;
}

#about-me-text-cont {
    width: 565px;
}

#motivation {
    background: -webkit-linear-gradient(#ff9d00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    font-weight: 700;
    text-shadow: 0px -1px #ff9d0036;
}

#invisible-parts {
    width: 103px;
    height: 182px;
    position: absolute;
    top: 173px;
    left: -165px;
    background: linear-gradient(315deg, #a8a8a8, #a8a8a8);
    z-index: -1;
    border-radius: 55px;
}

#about-me-picture {
    width: 98px;
    height: 145px;
    position: absolute;
    display: flex;
    top: 191px;
    left: -162px;
    background: #a8a8a8;
    z-index: 2;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

#about-me-picture img {
    width: 6rem;
}

#about-me-picture img:hover {
    cursor: pointer;
}

#prev-jobs {
    position: relative;
    top: 3rem;
    right: -50px;
    width: 123px;
    height: 36rem;
    padding: 0;
    display: flex;
    margin: 0 0 0 0;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#prev-jobs li img {
    width: 8rem;
}

#poly-4-s {
    position: absolute;
    z-index: 2;
    width: 375px;
    top: 293px;
    right: 102px;
}

#poly-4-p:hover {
    cursor: url("pics/black-cursor.png"), pointer;
}

#poly-5-s {
    position: absolute;
    width: 351px;
    height: 351px;
    top: 2px;
    right: -43px;
    z-index: 2;
}

#poly-5-p:hover {
    cursor: url("pics/black-cursor.png"), pointer;
}

footer {
    position: relative;
    height: 41rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

#lines-poly {
    position: absolute;
    bottom: 0px;
    left: -131px;
}

#poly-4 {
    width: 28rem;
    position: relative;
    top: 369px;
    left: -74px;
}

#poly-5 {
    position: absolute;
    width: 406px;
    right: -77px;
    top: 0;
}

footer article {
    position: relative;
    width: 25rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

footer article p span {
    color: black;
}

#assume {
    width: 32rem;
}

footer article div {
    width: 14rem;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 50px 30px #ffffff82;
    margin-top: 2rem;
    background: #ffffff6e;
}

footer article img {
    width: 3rem;
    height: 3rem;
}

@media (min-width: 320px) {
    body {}
}

@media (min-width: 650px) {
    header aside {
        flex-direction: column;
        text-align: center;
        position: relative;
    }

    aside h2 {
        width: 20rem;
        margin-left: unset;
    }

    #poly1 {
        top: 46px;
        right: 74px;
        width: 9rem;
        height: 9rem;
        background: linear-gradient(0deg, #F5C372, #F4D6A7);
        border-radius: 50%;
        cursor: url(pics/black-cursor.png), pointer;
    }

    #poly1:hover {}

    #poly1 img {
        display: none;
    }

    #poly1-s {
        display: none;
    }

    aside h1 {
        margin: 0 0 133px 0;
        width: 85%;
    }

    aside h1 span {
        margin-left: 1rem;
    }

    #lines-1 {
        width: 908px;
        height: 908px;
        left: -458px;
        top: -770px;
        max-width: 899px;
    }

    #poly-2-cont {
        left: -433px;
        bottom: -65px;
    }

    #line-2 {
        left: 174px;
    }

    #line-3 {
        left: 174px;
    }

    #line-4 {
        width: 144px;
        left: 205px;
    }

    #line-5 {
        bottom: 93px;
        left: 374px;
    }

    #line-6 {
        bottom: 93px;
        right: 0px;
    }
}

@media (min-width: 1280px) {
    body {
        max-width: 1266px;
    }

    aside h2 {
        margin-left: 1rem;
        width: 8rem;
        line-height: 2.3rem;
        font-size: 2rem;
    }

    aside h1 {
        font-size: 5rem;
    }

    aside h1 span {
        margin-left: 9rem;
    }

    #poly1 {
        right: -53px;
    }

    #poly1 img {
        width: 26rem;
        height: 26rem;
    }

    #poly1-s {
        width: 266px;
        height: 258px;
        top: 62px;
        right: 85px;
        transform: scalex(1.24) scaleY(1.32);
    }

    header nav {
        justify-content: space-between;
        height: 31rem;
    }

    #links-frame-1 {
        width: 6rem;
    }

    header nav ul {
        height: 120px;
    }

    .nav-menu-link {
        font-size: 17px;
        word-spacing: 6px;
        margin-left: 6px;
    }

    #links-frame-2 {
        width: 2rem;
        top: 117px;
    }

    #links-frame-3-cont {
        margin-left: 104px;
    }

    #links-frame-3 {
        height: 114px;
    }

    #links-frame-4 {
        left: 2.5rem;
        top: 117px;
    }

    nav p {
        font-size: 1.7rem;
        width: 8rem;
        margin-top: 0;
    }

    #landing-intro-text-container {
        width: 41rem;
    }

    #landing-snake-1::after {
        height: 139px;
        left: -46px;
        top: -8px;
    }

    #landing-snake-2::after {
        bottom: -121px;
        right: 63px;
        height: 147px;
    }

    #landing-snake-2::before {
        bottom: -263px;
        right: 190px;
        height: 370px;
    }

    #fence {
        margin-top: -3rem;
    }

    #fence img {
        width: 970px;
    }

    #nav-menu-link-1:hover:after {
        width: 78px;
        margin-left: 7px;
    }

    #nav-menu-link-2:hover:after {
        width: 90px;
        margin-left: 7px;
    }

    #nav-menu-link-3:hover:after {
        width: 66.28px;
        margin-left: 7px;
    }

    #adapt-text-cont {
        width: 61rem;
        position: relative;
    }

    #adapt-text-cont p {
        font-size: 1.7rem;
        margin-left: 7rem;
    }

    #adapt-text-cont span {
        font-size: 1.9rem;
    }

    #adapt-text-cont img {
        width: 33rem;
        bottom: -135px;
        right: 6px;
    }

    #poly-2-cont {
        bottom: -85px;
    }

    main {
        height: 52rem;
    }

    #slide-cont-after {
        width: 50rem;
        height: 30rem;
        left: 135px;
    }

    #slide-cont {
        width: 786px;
        height: 466px;
        left: 145px;
        bottom: 11px;
    }

    .slide-img {
        width: 786px;
        height: 466px;
    }

    #slide-img-4 {
        height: 515px;
    }

    #arrows {
        left: 227px;
        bottom: 6rem;
    }

    main aside {
        height: 466px;
        bottom: 1rem;
    }

    #my-projects-list {
        height: 100%;
        justify-content: space-evenly;
        font-size: 18px;
        text-align: center;
        width: 92px;
    }

    #poly-3-cont {
        top: 340px;
    }

    #me-pic-lines {
        left: calc(-17px - 0.5px);
    }

    #about-me-text-cont {
        position: relative;
        left: -20px;
    }

    #prev-jobs {
        right: -140px;
    }

    #lines-poly {
        left: -272px;
    }

    #poly-5 {
        right: -135px;
    }

    footer article {
        left: 10px;
    }

    #poly-5-s {
        position: absolute;
        width: 352px;
        height: 352px;
        top: 2px;
        right: -101px;
        z-index: 2;
    }
}