/* * {
  border: 1px solid red;
} */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: url(pics/grid-bg.png), linear-gradient(135deg, #bbbbbb, #989898);
  font-family: "Poppins", sans-serif;
  max-width: 984px;
  margin: auto;
}

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  background: radial-gradient(#00000085, #202020);
  position: fixed;
  top: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.5s ease;
  backdrop-filter: blur(8px);
}

.animate__animated {
  animation-duration: 0.7s;
}

#circle-menu {
  display: none;
}

#to-top-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 56px;
  right: 24px;
  width: 3rem;
  height: 3rem;
  background: #f5c372;
  border-radius: 2rem;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 0px #00000085;
  z-index: 4;
  transition: all 0.2s ease-in;
  opacity: 0;
}

#to-top-btn div {
  width: 30px;
  height: 6px;
  position: relative;
  background-color: #000000;
  border-radius: 1rem;
  left: 8.8px;
  bottom: 3px;
  transform: rotate(45deg);
}

#to-top-btn div::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 6px;
  left: -12px;
  top: 12px;
  background-color: #000000;
  border-radius: 1rem;
  transform: rotate(90deg);
}

#to-top-btn:hover {
  transition: all 0.2s ease-in;
  cursor: pointer;
  bottom: 65px;
}

header aside {
  display: flex;
  flex-direction: row;
  text-align: unset;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

aside h2 {
  margin-left: 1rem;
  width: 8rem;
  line-height: 1.7rem;
}

aside h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0px 65px 92px 0;
  width: 100%;
  height: 0;
  text-align: right;
  display: block;
  z-index: 3;
}

aside h1 span {
  color: white;
  font-weight: 700;
  margin-left: 4rem;
  cursor: url("pics/black-cursor.png"), pointer;
}

.nav-menu-link {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  position: relative;
}

#nav-menu-link-1::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1.5rem;
  left: 1px;
  border-bottom: 3px solid #f7f7f7;
  transition: 0.2s;
}

#nav-menu-link-2::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1.5rem;
  left: 1px;
  border-bottom: 3px solid #f7f7f7;
  transition: 0.2s;
}

#nav-menu-link-3::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1.5rem;
  left: 1px;
  border-bottom: 3px solid #f7f7f7;
  transition: 0.2s;
}

#nav-menu-link-1:hover:after {
  width: 68px;
  transition: 0.2s;
}

#nav-menu-link-2:hover:after {
  width: 79px;
  transition: 0.2s;
}

#nav-menu-link-3:hover:after {
  width: 64px;
  transition: 0.2s;
}

#poly1-s {
  position: absolute;
  width: 292px;
  height: 281px;
  top: 38px;
  right: 47px;
  transform: scaleY(1.25);
}

#poly1-p:hover {
  cursor: url("pics/black-cursor.png"), pointer;
}

#poly1 {
  position: absolute;
  top: -28px;
  right: -47px;
  z-index: 2;
}

#poly1 img {
  width: 23rem;
  height: 25rem;
}

#link-frames {
  position: relative;
  width: 10rem;
  height: 9rem;
  top: 29px;
}

#links-frame-1 {
  position: absolute;
  width: 5rem;
  height: 3px;
  background: #f7f7f7;
}

#links-frame-2 {
  position: absolute;
  width: 1rem;
  height: 3px;
  background: #f7f7f7;
  bottom: -2px;
}

#links-frame-3-cont {
  position: absolute;
  overflow: hidden;
  width: 7rem;
  height: 8rem;
  margin-left: 90px;
  top: 0px;
}

#links-frame-3 {
  position: absolute;
  width: 9rem;
  left: -5rem;
  height: 109px;
  border-radius: 4rem;
  border: 3.5px solid #f7f7f7;
}

#links-frame-4 {
  position: absolute;
  width: 5rem;
  height: 3px;
  background: #f7f7f7;
  bottom: -2px;
  left: 1.5rem;
}

header nav {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 11rem;
  margin-left: 1rem;
  position: relative;
}

header nav ul {
  padding: 0;
  margin: 0 0 0 16px;
  height: 7rem;
  list-style-type: "- ";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav p {
  margin-top: 71px;
  font-size: 1.4rem;
  width: 6.5rem;
  height: 350px;
}

#landing {
  margin: -29rem 0 0 17.6rem;
  height: 45rem;
  position: relative;
}

#landing-intro-text-container {
  width: 24rem;
  position: relative;
  top: -1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-intro-text-container p {
  color: white;
  font-size: 19px;
}

#landing-intro-text-container p span {
  color: #f5c372;
  font-weight: 600;
  text-shadow: 0px 0px 2px black;
}

#landing-snake-1-cont {
  position: absolute;
  top: 0;
}

#landing-snake-1 {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 60%;
  border: 3px solid #f7f7f7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  left: 5.5rem;
  top: 37px;
}

#landing-snake-1::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 22px;
  background: #f7f7f7;
  left: 44.5px;
  transform: rotate(45deg);
  top: 56px;
}

#landing-snake-1::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 10px;
  background: #f7f7f7;
  left: 1px;
  transform: rotate(45deg);
  top: 9px;
}

#landing-snake-2 {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 60%;
  border: 3px solid #f7f7f7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(225deg);
  left: 2.5rem;
  top: 105px;
}

#landing-snake-2::before {
  content: "";
  position: absolute;
  width: 3px;
  bottom: -30px;
  right: 93px;
  height: 97px;
  background: #f7f7f7;
  transform: rotate(225deg);
}

#landing-snake-2::after {
  content: "";
  bottom: -10px;
  right: 16px;
  background: #f7f7f7;
  transform: rotate(225deg);
  position: absolute;
  width: 3px;
  height: 18px;
}

#landing-left-t {
  width: 100%;
}

#landing-mid-t {
  width: 300px;
  text-align: center;
}

#landing-right-t {
  text-align: end;
  width: 100%;
}

#fence {
  margin-top: -2rem;
}

#fence img {
  width: 679px;
  height: 350px;
}

#adapt-text-cont {
  margin: -62px 0px 0px 0px;
}

#adapt-text-cont p {
  font-size: 1.5rem;
}

#adapt {
  background: linear-gradient(135deg, #ffffff, #f5c372);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  font-weight: 700;
  filter: drop-shadow(-1px 3px rgb(0, 0, 0));
}

#adapt-text-cont img {
  width: 26rem;
  position: absolute;
  bottom: 85px;
  right: 3px;
}

#poly-2-s {
  position: absolute;
  width: 307px;
  height: 333px;
  top: -41px;
  right: 35px;
  z-index: 2;
}

#poly-2-p:hover {
  cursor: url("pics/black-cursor.png"), pointer;
}

#poly-2-cont {
  position: absolute;
  left: -349px;
  bottom: -129px;
  z-index: 2;
}

#poly-2-cont img {
  width: 24rem;
  position: relative;
  top: -23px;
  right: 6px;
}

main {
  position: relative;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#slide-cont {
  background: linear-gradient(0deg, #f5c372, #f4d6a7);
  width: 610px;
  height: 386px;
  position: relative;
  left: 10.8%;
  bottom: 35px;
  border-radius: 1rem;
  display: flex;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#slide-cont::-webkit-scrollbar {
  display: none;
}

#slide-img-4 {
  height: 430px;
}

#slide-cont-after {
  content: "";
  display: block;
  width: 39rem;
  height: 25rem;
  background-color: #00000000;
  position: absolute;
  left: 95.5px;
  top: 162px;
  border: 3px solid #f7f7f7;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px 0px #ffffffbf;
}

.slide-img {
  width: 610px;
  height: 386px;
  object-fit: cover;
}

#arrows {
  width: 610px;
  height: 4rem;
  position: absolute;
  left: 10.8%;
  bottom: 7rem;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}

#arr-left:hover {
  filter: invert();
  transition: 0.2s;
  cursor: pointer;
}

#arr-right:hover {
  filter: invert();
  transition: 0.2s;
  cursor: pointer;
}

main aside {
  position: relative;
  display: flex;
  justify-content: center;
  width: 163px;
  height: 23rem;
  bottom: 2rem;
}

#my-projects-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 367px;
  width: 5rem;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  color: white;
}

#my-projects-list a {
  text-decoration: none;
  color: #f7f7f7;
}

#my-projects-list li {
  z-index: 3;
  transition: 0.2s;
}

.projects-tooltip::after {
  content: "visit the website";
  position: absolute;
  top: -23px;
  height: 23px;
  left: -14px;
  background: linear-gradient(0deg, #f5c372, #f4d6a7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  line-height: 15px;
  border-radius: 1rem;
  border: 1px solid white;
  font-size: 12px;
  transition: all 0.1s;
  visibility: hidden;
  color: black;
  box-shadow: 0px 0px 4px white;
}

#my-projects-list li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#todo {
  transition: all 0.4s;
}

#todo a {
  color: #000000;
  cursor: url("pics/black-cursor.png"), pointer;
}

#calc-app:hover:after {
  visibility: visible;
  display: flex;
  transition: all 0.2s;
  left: -16px;
}

#guess-game:hover:after {
  visibility: visible;
  display: flex;
  transition: all 0.2s;
  left: -16px;
}

#pass-gen:hover:after {
  visibility: visible;
  display: flex;
  transition: all 0.2s;
  left: -16px;
}

#quote-gen:hover:after {
  visibility: visible;
  display: flex;
  transition: all 0.2s;
  left: -17px;
}

#todo:hover:after {
  visibility: visible;
  display: flex;
  transition: all 0.2s;
  left: -25px;
}

#poly-3-s {
  position: absolute;
  width: 198px;
  height: 195px;
  top: -3px;
  right: 44px;
}

#poly-3-p:hover {
  cursor: url("pics/black-cursor.png"), pointer;
}

#poly-3-cont {
  position: absolute;
  right: -90px;
  top: 290px;
  z-index: 2;
}

#poly-3-cont img {
  width: 17rem;
}

#about-me {
  max-width: 811px;
  height: 45rem;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#about-me h2 {
  margin: 45px 0 0px -70px;
}

#about-me h2 span {
  color: #f5c372;
  text-shadow: 0px 0px 2px black;
  font-size: 28px;
}

#about-me-text-cont {
  width: 565px;
}

#motivation {
  background: -webkit-linear-gradient(#ff9d00, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00000000;
  font-weight: 700;
  text-shadow: 0px -1px #ff9d0036;
}

#invisible-parts {
  width: 103px;
  height: 182px;
  position: absolute;
  top: 173px;
  left: -165px;
  background: linear-gradient(315deg, #a8a8a8, #a8a8a8);
  z-index: -1;
  border-radius: 55px;
}

#about-me-picture {
  width: 98px;
  height: 145px;
  position: absolute;
  display: flex;
  top: 191px;
  left: -162px;
  background: #a8a8a8;
  z-index: 2;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

#about-me-picture img {
  width: 6rem;
}

#about-me-picture img:hover {
  cursor: pointer;
}

#prev-jobs {
  position: relative;
  top: 3rem;
  right: -50px;
  width: 123px;
  height: 36rem;
  padding: 0;
  display: flex;
  margin: 0 0 0 0;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#prev-jobs li img {
  width: 8rem;
}

#poly-4-s {
  position: absolute;
  z-index: 2;
  width: 375px;
  top: 293px;
  right: 102px;
}

#poly-4-p:hover {
  cursor: url("pics/black-cursor.png"), pointer;
}

#poly-5-s {
  position: absolute;
  width: 351px;
  height: 351px;
  top: 2px;
  right: -43px;
  z-index: 2;
}

#poly-5-p:hover {
  cursor: url("pics/black-cursor.png"), pointer;
}

footer {
  position: relative;
  height: 41rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

#lines-poly {
  position: absolute;
  bottom: 0px;
  left: -131px;
}

#poly-4 {
  width: 28rem;
  position: relative;
  top: 369px;
  left: -74px;
}

#poly-5 {
  position: absolute;
  width: 406px;
  right: -77px;
  top: 0;
}

footer article {
  position: relative;
  width: 25rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  color: white;
}

footer article p span {
  color: black;
}

#assume {
  width: 32rem;
}

footer article div {
  width: 14rem;
  height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 50px 30px #ffffff82;
  margin-top: 2rem;
  background: #ffffff6e;
}

footer article img {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 520px) {
  body {
    height: 4499px;
  }

  body header aside {
    width: 320px;
    height: 16rem;
    margin: 1rem auto 0 auto;
  }

  header aside h2 {
    width: 16rem;
    font-size: 20px;
    margin: 0;
  }

  header aside h1 {
    margin: 0 auto 7rem auto;
    font-size: 40px;
    height: 60px;
  }

  header aside h1 span {
    right: 120px;
    top: 9rem;
  }

  aside #poly1 {
    top: 142.5px;
    right: 104.5px;
    width: 7rem;
    height: 4rem;
    border-radius: 9px;
  }

  body header nav {
    flex-direction: column;
    width: 320px;
    margin: auto;
    height: 10rem;
  }

  header nav p {
    font-size: 17px;
    left: -6px;
    width: 21rem;
  }

  #link-frames ul {
    top: 21vh;
  }

  body #landing {
    top: -75px;
    width: 100%;
  }

  #landing #landing-intro-text-container {
    left: unset;
    width: 19rem;
  }

  #landing-left-t {
    text-align: center;
  }

  #landing-snake-1::before {
    transform: rotate(25deg);
    width: 3px;
    height: 49px;
    left: 39px;
    top: 244px;
  }

  #landing-snake-1::after {
    transform: rotate(155deg);
    width: 3px;
    height: 49px;
    left: 39px;
    top: -4px;
  }

  #landing-snake-1 {
    left: -17px;
    border-radius: unset;
    border-right-color: transparent;
    border-bottom-color: white;
    transform: rotate(90deg);
    width: 29px;
    height: 289px;
    top: -81px;
  }

  #landing-snake-2 {
    left: 135px;
    border-radius: unset;
    border-right-color: transparent;
    border-bottom-color: white;
    transform: rotate(90deg);
    width: 29px;
    height: 289px;
    top: -9px;
  }

  #landing-snake-2::after {
    transform: rotate(-25deg);
    width: 3px;
    height: 49px;
    left: -13px;
    top: 244px;
  }

  #landing-snake-2::before {
    transform: rotate(205deg);
    width: 3px;
    height: 49px;
    left: -13px;
    top: -4px;
  }

  #landing-intro-text-container p {
    text-align: center;
  }

  #landing #fence {
    display: none;
  }

  #landing #fence img {
    scale: 1;
    width: 695px;
  }

  #landing #adapt-text-cont {
    left: 57px;
    bottom: 30px;
  }

  #adapt-1 {
    position: relative;
    top: 73px;
    left: 12px;
  }

  #adapt-2 {
    position: relative;
    top: 220px;
    left: -23px;
  }

  #adapt-3 {
    position: relative;
    top: 345px;
    left: -138px;
  }

  #adapt {
    position: relative;
    top: 433px;
    left: -60px;
  }

  #adapt-text-cont img {
    transform: rotate(90deg);
    left: -135px;
    top: 227px;
  }

  body main {
    margin: 0px auto 6rem auto;
  }

  #poly-2-cont {
    display: none;
  }

  main #slide-cont-after {
    width: 550px;
  }

  main #slide-cont {
    width: 100vw;
    height: 390px;
    bottom: 73px;
    align-items: center;
  }

  div .slide-img {
    width: 90vw;
    height: 366px;
    margin-left: 5vw;
    margin-top: 6.5px;
    border-radius: 16px;
    margin-right: 5vw;
  }

  #slide-img-4 {
    height: 366px;
  }

  aside #my-projects-list {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  #calc-app {
    position: relative;
    left: 19vw;
  }

  #guess-game {
    position: relative;
    left: 19vw;
  }

  #pass-gen {
    position: relative;
    top: 50px;
    right: 21vw;
  }

  #my-projects-list #quote-gen {
    position: relative;
    left: 4vw;
  }

  /* #my-projects-list {
    cursor: url(pics/black-cursor.png), pointer;
  } */

  #my-projects-list #todo {
    position: relative;
    left: 33vw;
    cursor: url(pics/black-cursor.png), pointer;
  }

  aside #poly-3-cont {
    right: unset;
    left: 57vw;
    top: 24px;
  }

  #lines-poly #poly-4-cont {
    left: -510px;
  }

  body #about-me {
    height: 85rem;
    align-items: center;
    z-index: 0;
  }

  body #about-me #me-pic-lines {
    left: 174.8px;
    margin-left: unset;
    top: 310px;
    z-index: 0;
  }

  #about-me #about-me-text-cont {
    height: 76rem;
    left: 0;
    width: 295px;
    z-index: 0;
  }

  #about-me-text-cont-p1 {
    background: linear-gradient(0deg, #ffffff52, #ffffff73);
    backdrop-filter: blur(3px);
    margin: 0;
    padding: 10px 16px 10px 16px;
    position: relative;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0px 211px 0px 0px #ffffff52;
    z-index: 0;
  }

  #about-me-text-cont-p2 {
    backdrop-filter: blur(3px);
    position: relative;
    margin: 0;
    top: -6px;
    padding: 0px 16px 10px 16px;
    z-index: 0;
  }

  #about-me-text-cont-p3 {
    position: relative;
    background: linear-gradient(0deg, #ffffff52, #ffffff73);
    backdrop-filter: blur(3px);
    padding: 10px 16px 10px 16px;
    top: 226px;
    margin: 0;
    box-shadow: 0px 137px 0px 0px #ffffff52;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    z-index: 0;
  }

  #about-me-text-cont-p4 {
    position: relative;
    backdrop-filter: blur(3px);
    padding: 0px 16px 0px 16px;
    top: 215px;
    background: linear-gradient(0deg, #ffffff5c, #ffffff00);
    margin: 0;
    height: 148px;
    border-radius: 1rem;
  }

  body #about-me h2 {
    margin: 45px 200px 0px 0px;
    text-align: left;
  }

  #about-me #prev-jobs {
    right: 0;
    width: 100vw;
  }

  #prev-jobs li img {
    width: 90%;
  }

  #about-me #lines-poly {
    max-width: unset;
    min-width: unset;
    left: unset;
    right: unset;
    width: 97vw;
    bottom: -20px;
  }

  footer #poly-5 {
    width: 85%;
    top: 0%;
    min-width: 430px;
    right: unset;
  }

  #poly-5-s {
    position: absolute;
    width: 372px;
    height: 368px;
    margin-left: -1rem;
    top: 2px;
    right: unset;
    z-index: 2;
  }

  footer {
    width: 100%;
    max-width: unset;
    height: 39rem;
  }

  body footer article {
    left: unset;
    top: 1.8rem;
  }

  footer article p {
    color: black;
  }

  footer article div {
    position: relative;
    top: 2rem;
  }
}

@media (max-width: 750px) {
  #circle-menu {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s;
    top: 33px;
    position: relative;
  }

  #circle-menu:hover {
    box-shadow: 0px 0px 6px #ffffff;
    transition: all 0.2s;
    cursor: pointer;
  }

  header aside {
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 395px;
    height: 14rem;
    margin: auto;
  }

  aside h2 {
    width: 20rem;
    margin-left: unset;
    font-size: 22px;
  }

  #landing-intro-text-container {
    top: -1rem;
    margin: auto;
    left: -10px;
  }

  #adapt-text-cont {
    bottom: 0px;
    position: relative;
    left: -43px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
  }

  #adapt-text-cont img {
    bottom: unset;
    right: unset;
    width: 440px;
  }

  #fence {
    position: relative;
    margin: -2rem auto 0 auto;
    width: 350px;
    display: flex;
    justify-content: center;
    top: 15px;
  }

  #fence img {
    scale: 0.65;
  }

  #poly1 {
    top: 62px;
    right: -13px;
    width: 7rem;
    height: 7rem;
    background: linear-gradient(0deg, #f5c372, #f4d6a7);
    border-radius: 50%;
    cursor: url(pics/black-cursor.png), pointer;
  }

  #poly1 img {
    display: none;
  }

  #poly1-s {
    display: none;
  }

  #poly-2-s {
    right: 19px;
  }

  aside h1 {
    margin: 0 105px 60px auto;
    width: 288px;
    height: 80px;
    font-size: 42px;
    text-align: left;
  }

  aside h1 span {
    right: 0;
    position: absolute;
  }

  header nav {
    width: 100%;
    margin: 0;
    height: 9rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    top: -40px;
  }

  nav p {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    width: 29rem;
    position: relative;
    top: 0;
    height: 25px;
  }

  #link-frames {
    width: 20rem;
    position: absolute;
    height: 23px;
  }

  #links-frame-1 {
    display: none;
  }

  #link-frames ul {
    display: none;
    position: absolute;
    flex-direction: row;
    width: 30rem;
    list-style: none;
    height: 20px;
    bottom: -230px;
    left: -133px;
  }

  .nav-menu-link {
    display: block;
    z-index: 5;
    position: fixed;
  }

  #nav-menu-link-1::after {
    left: 0px;
  }

  #nav-menu-link-2::after {
    left: 0px;
  }

  #nav-menu-link-3::after {
    left: 0px;
  }

  #links-frame-2 {
    display: none;
  }

  #links-frame-3-cont {
    display: none;
  }

  #links-frame-4 {
    display: none;
  }

  #link-frames {
    top: 9px;
  }

  #link-frames p {
    position: absolute;
  }

  #landing {
    margin: 12rem auto 0 auto;
    top: -117px;
    height: 60rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #poly-2-cont {
    bottom: -25px;
    left: -250px;
  }

  #poly-2-cont img {
    right: -10px;
  }

  main {
    flex-direction: column;
    width: 75%;
    margin: auto;
    max-width: 498px;
  }

  #slide-cont-after {
    width: 450px;
    margin: auto;
    left: unset;
    top: -80px;
  }

  #slide-cont {
    bottom: 70px;
    left: unset;
    width: 438px;
  }

  .slide-img {
    width: 450px;
  }

  #arrows {
    bottom: 23rem;
    left: unset;
  }

  main aside {
    width: 110%;
    bottom: -4rem;
  }

  #my-projects-list {
    height: 140px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  #my-projects-list li {
    width: 5rem;
  }

  #quote-gen {
    position: relative;
    left: 50%;
  }

  #todo {
    position: relative;
    left: 50%;
  }

  #todo:hover {
    cursor: url("pics/black-cursor.png"), pointer;
  }

  #my-projects-list #todo {
    width: 4rem;
  }

  #poly-3-s {
    position: absolute;
    width: 149px;
    height: 104px;
    top: 18px;
    right: 35px;
  }

  #poly-3-cont {
    right: 40px;
    top: 44px;
  }

  #poly-3-cont img {
    width: 12.7rem;
  }

  #about-me {
    flex-direction: column;
    width: 75%;
    max-width: 498px;
    height: 53rem;
  }

  #about-me #me-pic-lines {
    left: 113px;
  }

  #about-me-text-cont {
    width: 94%;
    position: relative;
    left: 20%;
    bottom: 124px;
    font-size: 15px;
    max-width: 403px;
  }

  #about-me h2 {
    margin: 45px 0 0px 0px;
  }

  #prev-jobs {
    top: -8rem;
    flex-direction: row-reverse;
    width: 100%;
    height: 9rem;
  }

  #poly-4-cont {
    position: relative;
    left: -238px;
    top: 100px;
  }

  #poly-4 {
    top: 409px;
    left: -108px;
    width: 23rem;
  }

  #poly-4-s {
    position: absolute;
    z-index: 2;
    width: 309px;
    top: 296px;
    right: 156px;
  }

  #lines-poly {
    left: 49.5px;
    right: 10%;
    max-width: 498px;
    min-width: 393px;
  }

  #poly-5 {
    width: 23rem;
    right: -309px;
    top: 50px;
  }

  #poly-5-s {
    width: 330px;
    height: 330px;
    top: 44px;
    right: -290px;
  }

  body footer {
    width: 75%;
    margin: auto;
    max-width: 498px;
  }

  footer article {
    font-size: 1.2rem;
    width: 16rem;
    height: 30rem;
    left: unset;
    top: 80px;
  }

  #assume {
    width: unset;
  }
}

@media (750px < width <= 1000px) {
  aside h1 {
    font-size: 3.5rem;
    position: absolute;
    margin: unset;
    width: 24rem;
    height: 3.5rem;
    left: 225px;
  }

  aside h1 span {
    position: absolute;
    left: calc(30vw + 28%);
  }

  aside h2 {
    position: relative;
    top: 2rem;
  }

  header nav {
    top: 5rem;
  }

  #links-frame-4 {
    bottom: -3px;
  }

  nav p {
    margin-top: 120px;
  }

  #poly1 {
    right: unset;
    left: 34.6rem;
  }

  #poly1 img {
    width: 20rem;
    height: 20rem;
  }

  #landing {
    height: 50rem;
  }

  #landing-intro-text-container {
    top: 8.5rem;
    left: -3rem;
    width: 470px;
    margin: 0px 100px 0px auto;
  }

  #landing-snake-1::after {
    height: 47px;
    left: -12px;
    top: 4px;
  }

  #landing-snake-2::after {
    height: 60px;
    right: 31px;
    bottom: -46px;
  }

  #landing-snake-2::before {
    bottom: -103px;
    right: 123px;
    height: 184px;
  }

  #fence {
    top: 10rem;
    margin: unset;
    position: relative;
    width: 85%;
  }

  #fence img {
    position: relative;
    margin: unset;
    width: 100%;
    height: 268px;
  }

  #adapt-text-cont {
    margin: 155px 0px 0px 0px;
    width: 85%;
  }

  #adapt-text-cont img {
    width: 100%;
    height: 268px;
}

  #adapt-text-cont p {
    font-size: 1.25rem;
  }

  #adapt {
    font-size: 1.3rem;
  }

  #poly-2-cont {
    bottom: -200px;
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 1266px;
  }

  aside h2 {
    margin-left: 1rem;
    width: 8rem;
    line-height: 2.3rem;
    font-size: 2rem;
  }

  aside h1 {
    font-size: 5rem;
  }

  aside h1 span {
    margin-left: 9rem;
  }

  #poly1 {
    right: -53px;
  }

  #poly1 img {
    width: 26rem;
    height: 26rem;
  }

  #poly1-s {
    width: 266px;
    height: 258px;
    top: 62px;
    right: 85px;
    transform: scalex(1.24) scaleY(1.32);
  }

  header aside {
    flex-direction: row;
    text-align: unset;
  }

  header nav {
    justify-content: space-between;
    height: 31rem;
  }

  #link-frames {
    top: 0px;
  }

  #links-frame-1 {
    width: 6rem;
  }

  header nav ul {
    height: 120px;
  }

  .nav-menu-link {
    font-size: 17px;
    word-spacing: 6px;
    margin-left: 6px;
  }

  #links-frame-2 {
    width: 2rem;
    top: 117px;
  }

  #links-frame-3-cont {
    margin-left: 104px;
  }

  #links-frame-3 {
    height: 114px;
  }

  #links-frame-4 {
    left: 2.5rem;
    top: 117px;
  }

  nav p {
    font-size: 1.7rem;
    width: 8rem;
    margin-top: 0;
  }

  #landing-intro-text-container {
    width: 41rem;
  }

  #landing-snake-1::after {
    height: 139px;
    left: -46px;
    top: -8px;
  }

  #landing-snake-2::after {
    bottom: -121px;
    right: 63px;
    height: 147px;
  }

  #landing-snake-2::before {
    bottom: -263px;
    right: 190px;
    height: 370px;
  }

  #fence {
    margin-top: -3rem;
  }

  #fence img {
    width: 970px;
  }

  #nav-menu-link-1:hover:after {
    width: 78px;
    margin-left: 0px;
  }

  #nav-menu-link-2:hover:after {
    width: 90px;
    margin-left: 0px;
  }

  #nav-menu-link-3:hover:after {
    width: 66.28px;
    margin-left: 0px;
  }

  #adapt-text-cont {
    width: 61rem;
    position: relative;
  }

  #adapt-text-cont p {
    font-size: 1.7rem;
    margin-left: 7rem;
  }

  #adapt {
    font-size: 1.9rem;
  }

  #adapt-text-cont img {
    width: 33rem;
    bottom: -135px;
    right: 6px;
  }

  #poly-2-cont {
    bottom: -85px;
  }

  main {
    height: 52rem;
  }

  #slide-cont-after {
    width: 50rem;
    height: 30rem;
    left: 135px;
  }

  #slide-cont {
    width: 786px;
    height: 466px;
    left: 145px;
    bottom: 11px;
  }

  .slide-img {
    width: 786px;
    height: 466px;
  }

  #slide-img-4 {
    height: 515px;
  }

  #arrows {
    left: 227px;
    bottom: 6rem;
  }

  main aside {
    height: 466px;
    bottom: 1rem;
  }

  #my-projects-list {
    height: 100%;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    width: 92px;
  }

  #poly-3-cont {
    top: 340px;
  }

  #me-pic-lines {
    left: calc(-17px - 0.5px);
  }

  #about-me-text-cont {
    position: relative;
    left: -20px;
  }

  #prev-jobs {
    right: -140px;
  }

  #lines-poly {
    left: -272px;
  }

  #poly-5 {
    right: -135px;
  }

  footer article {
    left: 10px;
  }

  #poly-5-s {
    position: absolute;
    width: 352px;
    height: 352px;
    top: 2px;
    right: -101px;
    z-index: 2;
  }
}
