body {
    overflow-x: hidden;
    background: url(pics/grid-bg.png), linear-gradient(135deg, #bbbbbb, #989898);
    font-family: "Poppins", sans-serif;
    margin: 0;
    max-width: 1600px;
    margin: auto;
}

header aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

aside h2 {
    margin-left: 1rem;
    width: 8rem;
    line-height: 1.7rem;
}

#lines-1 {
    width: 899px;
    height: 908px;
    position: relative;
    left: -17.6rem;
    top: -691px;
    max-width: 900px;
    z-index: -1;
}

#line-1 {
    position: absolute;
    width: 3px;
    background: #f7f7f7;
    height: 41rem;
    top: 0;
    left: 22%;
}

#line-2 {
    position: absolute;
    width: 3px;
    background: #f7f7f7;
    height: 2rem;
    bottom: 235px;
    left: 22%;
    z-index: 1;
}

#line-2::after {
    content: "";
    position: absolute;
    width: 3px;
    background: #000000;
    height: 6rem;
    left: 22%;
    top: 32px;
    z-index: 1;
}

#line-3 {
    position: absolute;
    width: 3rem;
    border: 3px solid black;
    background: transparent;
    height: 3rem;
    bottom: 108px;
    left: 22%;
    z-index: 1;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

#line-4 {
    position: absolute;
    width: 73px;
    background: transparent;
    height: 3rem;
    bottom: 108px;
    left: 229px;
    border-bottom: 3px solid black;
    z-index: 1;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

#line-5 {
    position: absolute;
    width: 44.2%;
    background: #ffffff00;
    height: 3px;
    bottom: 108px;
    left: 302px;
    border-bottom: 3px solid #f7f7f7;
    z-index: 1;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

#line-6 {
    position: absolute;
    width: 128px;
    height: 3px;
    bottom: 108px;
    right: 12%;
    border-bottom: 3px solid #f7f7f7;
}

#line-6::after {
    content: "";
    position: absolute;
    width: 3rem;
    border: 3px solid #f7f7f7;
    height: 3rem;
    bottom: -54px;
    right: -31px;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
}

aside h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 65px 0 0;
    width: 100%;
    text-align: right;
    display: block;
}

aside h1 span {
    color: white;
    font-weight: 700;
    margin-left: 4rem;
}


.nav-menu-link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

#nav-menu-link-1::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1.5rem;
    left: 16px;
    border-bottom: 3px solid #f7f7f7;
    transition: 0.2s;
}

#nav-menu-link-2::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1.5rem;
    left: 16px;
    border-bottom: 3px solid #f7f7f7;
    transition: 0.2s;
}

#nav-menu-link-3::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1.5rem;
    left: 16px;
    border-bottom: 3px solid #f7f7f7;
    transition: 0.2s;
}

#nav-menu-link-1:hover:after {
    width: 68px;
    transition: 0.2s;
}

#nav-menu-link-2:hover:after {
    width: 79px;
    transition: 0.2s;
}

#nav-menu-link-3:hover:after {
    width: 64px;
    transition: 0.2s;
}

#poly1 {
    position: absolute;
    top: -28px;
    right: -47px;
    z-index: -1;
}

#poly1 img {
    width: 23rem;
    height: 25rem;
}

#links-frame-1 {
    position: absolute;
    width: 5rem;
    height: 3px;
    background: #f7f7f7;
}

#links-frame-2 {
    position: absolute;
    width: 1rem;
    height: 3px;
    background: #f7f7f7;
    top: 7rem;
}

#links-frame-3-cont {
    position: absolute;
    overflow: hidden;
    width: 7rem;
    height: 8rem;
    margin-left: 90px;
}

#links-frame-3 {
    position: absolute;
    width: 9rem;
    left: -5rem;
    height: 109px;
    border-radius: 4rem;
    border: 3px solid #f7f7f7;
}

#links-frame-4 {
    position: absolute;
    width: 5rem;
    height: 3px;
    background: #f7f7f7;
    top: 7rem;
    left: 1.5rem;
}

header nav {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 11rem;
    margin-left: 1rem;
    position: relative;
}

header nav ul {
    padding: 0;
    margin: 0 0 0 16px;
    height: 7rem;
    list-style-type: '- ';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav p {
    margin-top: 2rem;
    font-size: 1.4rem;
    width: 6.5rem;
}

#landing {
    margin: -29rem 0 0 17.6rem;
    height: 45rem;
}

#landing-intro-text-container {
    width: 24rem;
    position: relative;
    top: -1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-intro-text-container p {
    color: white;
    font-size: 19px;
}

#landing-intro-text-container p span {
    color: #f5c372;
    font-weight: 600;
    text-shadow: 0px 0px 2px black;
}

#landing-snake-1-cont {
    position: absolute;
    top: 0;
}

#landing-snake-1 {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 60%;
    border: 3px solid #f7f7f7;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    left: 5.5rem;
    top: 37px;
}

#landing-snake-1::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    background: #f7f7f7;
    left: 44.5px;
    transform: rotate(45deg);
    top: 56px;
}

#landing-snake-1::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background: #f7f7f7;
    left: 1px;
    transform: rotate(45deg);
    top: 9px;
}

#landing-snake-2 {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 60%;
    border: 3px solid #f7f7f7;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(225deg);
    left: 2.5rem;
    top: 105px;
}

#landing-snake-2::before {
    content: "";
    position: absolute;
    width: 3px;
    bottom: -30px;
    right: 93px;
    height: 97px;
    background: #f7f7f7;
    transform: rotate(225deg);
}


#landing-snake-2::after {
    content: "";
    bottom: -10px;
    right: 16px;
    background: #f7f7f7;
    transform: rotate(225deg);
    position: absolute;
    width: 3px;
    height: 18px;
}

#landing-left-t {
    width: 100%;
}

#landing-mid-t {
    width: 300px;
    text-align: center;
}

#landing-right-t {
    text-align: end;
    width: 100%;
}

#fence {
    margin-top: -2rem;
}

#fence img {
    width: 679px;
    height: 350px;
}

#adapt-text-cont {
    margin: -62px 0px 0px 0px;
}

#adapt-text-cont p {
    font-size: 1.5rem;
}

#adapt-text-cont span {
    background: linear-gradient(135deg, #ffffff, #f5c372);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
    font-weight: 700;
    filter: drop-shadow(-1px 3px rgb(0, 0, 0));
}

#adapt-text-cont img {
    width: 26rem;
    position: absolute;
    bottom: 136px;
    right: 3px;
}

#poly-2-cont {
    position: absolute;
    left: -51px;
    bottom: -75px;
    z-index: -2;
}

#poly-2-cont img {
    width: 24rem;
}

main {
    position: relative;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#slide-cont {
    background: linear-gradient(0deg, #F5C372, #F4D6A7);
    width: 610px;
    height: 386px;
    position: relative;
    left: 10.8%;
    bottom: 35px;
    border-radius: 1rem;
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#slide-cont::-webkit-scrollbar {
    display: none;
}

#slide-img-4 {
    height: 430px;
}

#slide-cont-after {
    content: "";
    display: block;
    width: 39rem;
    height: 25rem;
    background-color: #00000000;
    position: absolute;
    left: 95.5px;
    top: 162px;
    border: 3px solid #f7f7f7;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px 0px #ffffffbf;
}

.slide-img {
    width: 610px;
    height: 386px;
    object-fit: cover;
}

#arrows {
    width: 610px;
    height: 4rem;
    position: absolute;
    left: 10.8%;
    bottom: 7rem;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

#arr-left:hover {
    filter: invert();
    transition: 0.2s;
    cursor: pointer;
}

#arr-right:hover {
    filter: invert();
    transition: 0.2s;
    cursor: pointer;
}

#line-7 {
    position: absolute;
    width: 3px;
    background: #f7f7f7;
    height: 50rem;
    top: -29px;
    right: 163px;
}

#line-8 {
    position: absolute;
    width: 3rem;
    border: 3px solid #f7f7f7;
    height: 3rem;
    bottom: -2px;
    right: 163px;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(225deg);
}

#line-9 {
    position: absolute;
    width: 40rem;
    background: #ffffff00;
    height: 3px;
    bottom: -2px;
    left: 151px;
    border-bottom: 3px solid #f7f7f7;
    z-index: 1;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

#line-10 {
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: -26px;
    left: 88px;
    border-left: 3px solid #f7f7f7;
    border-top: 3px solid #f7f7f7;
}

#line-11 {
    position: absolute;
    width: 3rem;
    height: 2rem;
    bottom: -34px;
    left: 96px;
    border-left: 3px solid #f7f7f7;
    border-top: 3px solid #f7f7f7;
}

main aside {
    position: relative;
    display: flex;
    justify-content: center;
    width: 163px;
    height: 23rem;
    bottom: 2rem;
}

#my-projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 367px;
    width: 5rem;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    color: white;
}

#my-projects-list a {
    text-decoration: none;
    color:#f7f7f7;
}

#my-projects-list li {
    transition: 0.2s;
}

#my-projects-list li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#todo a {
    color: #000000;
}

#poly-3-cont {
    position: absolute;
    right: -90px;
    top: 290px;
    z-index: -1;
}

#poly-3-cont img {
    width: 17rem;
}